# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [1]:
#str.lstrip()

name="  Austin"
name.lstrip()

name= " Austin"
name.lstrip("A ")

'ustin'

##### .rstrip()

In [2]:
name= " Pari "
name.rstrip()

name.rstrip("r i") #removes those

' Pa'

##### .strip()

In [3]:
name= " Jesus "
name.strip() #removes spaces only from left and right sides of string. attacks from both sides 


word= "racecar"
word.strip("r at") #removes all from word because at ends

'cec'

##### .title()

In [4]:
#strings are immuatable

my_string="i p freely"
my_string.title() #capalizes every word

my_string="i p freely"
my_string.upper()  #all uppercase

my_string="i p fReEly"
my_string.lower()  #all lowercase

'i p freely'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [5]:
names= ['   coNNor', 'max', 'EVan ', 'JORDAN']

for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [6]:
my_list=[88,56,4,654,44,2,6]
min(my_list)

2

##### max()

In [7]:
max(my_list) #based off top

654

##### sum()

In [8]:
sum(my_list) + 100

954

##### sorted()

In [9]:
#built in function in python works on any iterable 
# return a copy of the array in sorted order -- out of place 

print(sorted(my_list))
my_list= sorted(my_list)
print(my_list)

print(sorted("zdtr"))
print(sorted("zdtr",reverse=True))

[2, 4, 6, 44, 56, 88, 654]
[2, 4, 6, 44, 56, 88, 654]
['d', 'r', 't', 'z']
['z', 't', 'r', 'd']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [10]:
#sort is a method of the list class

my_list=[88,56,4,654,44,2,6]
print(my_list.sort())
print(my_list)

None
[2, 4, 6, 44, 56, 88, 654]

##### Copying a List

In [11]:
#bad way to copy list
my_list1=[1,2,3,4,5]

my_list2= my_list1

my_list2.append(6)

print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [12]:
#how to copy a list correctly!!
my_list1=[1,2,3,4,5]
my_list2=my_list1[:]
my_list2.append(6)
print(my_list1)
print(my_list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

##### 'in' keyword

In [13]:
5 in [2,3,5,7] #with a list this is basically a for loop
5 in {2,3,5,7} # this is constant time operation

True

##### 'not in' keyword

In [14]:
my_list=[]
if my_list ==[]:
    print("its empty")
    
if len(my_list)==0:
    print("its empty")
    
if not my_list:   
    print("it's empty")

if my_list: #most common
    pass

its empty
its empty
it's empty

##### Checking an Empty List

In [15]:
my_list=[]
if my_list ==[]:
    print("its empty")
    
if len(my_list)==0:
    print("its empty")
    
if not my_list:   
    print("it's empty")

if my_list: #most common
    pass

its empty
its empty
it's empty

##### Removing Instances with a Loop

In [16]:
names=["Toan", "Tim", "Steve", "McCall", "Anu", "Steve"]

while "Steve" in names:
        names.remove("Steve")
        print(names)
print(f"list at the end of the loop: {names}")

['Toan', 'Tim', 'McCall', 'Anu', 'Steve']
['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop: ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
#i need to create a new list to add items too

new_name=[]
for name in names:
    if name not in new_name:
        new_name.append(name)
            
print(new_name)

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [17]:
nums=[]
for i in range(100):
    nums.append(i)
print(nums)

nums_comp= [i for i in range(100)]
print(f"num_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
num_comp
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [18]:
nums=[]
for i in range(100):
    nums.append(i)
print(nums)

nums_comp= [i**2 for i in range(100)]
print(f"num_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
num_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [19]:
names=["Mark", "Eduardo", "C-tina", "tate", "Pari"]
first_char_comp=[name[0] for name in names]
print(first_char_comp)

['M', 'E', 'C', 't', 'P']

In [20]:
four_l=[]
for name in names:
    if len(names)==4:
        four_l.append(name) 
    else:
        four_l.append ("not 4)"
print(four_l)

four_letter_names= [name for name in names if len(name)==4

print(four_letter_names)]

SyntaxError: invalid syntax (<ipython-input-20-583aeec74c70>, line 7)

In [ ]:
la=[1,2,3,4,5]
lb=["A", "B", "C", "D"]

let_num=[]
for number in la:
    for letting in lb:
        let_num.append(f'{number}{letter}')
print(let_num)

In [ ]:
let_num_comp= [f'{number}{letter}' for number in la for letter in lb]

In [ ]:
sentence=["Today", "is", "the", "day", "that's"]

letters=[]
for word in sentence:
    for letter in word:
        letters.append(letter)
        
print(letters)

In [ ]:
letters_comp=[letter.upper() for word in sentence for letter in word]

In [ ]:
my_list=["steve", "susan", "jake", "troy"]
last_let=[value[0] for value in my_list]
print(last_let)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
t=1,2,3
print(t,type(t))
t_1=(1,2,3)
print(t_1,type(t_1))

In [ ]:
#empty tuples basically useless

t_2=tuple()
t_3= ()

In [ ]:
my_tup.index("Mike")

In [ ]:
my_tup.index"Jones" #no tuples are immuatble

In [ ]:
my_tup.append("Steve") #nooo

In [ ]:
new_tuple= my_tup + (5,6)

In [ ]:
list(enumerate(my_list)))

##### sorted()

In [ ]:
sorted_tup= sorted(my_tup)
sorted_tup

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

new_tup= [1,2,3,["A","B","C"]]
new_tup[3][1]="D"  #can change but not add or remove 
new_tup

## Functions

##### User-Defined vs. Built-In Functions

In [ ]:
#built in : int() min max type help print ir abs sorted
#user defined function

def say_hello():
    print("Hello World")

say_hello()

##### Accepting Parameters

In [ ]:
# Order matters
# A variable can be any type of object


def print_full_name(first_name, last_name):    #paramaters
    print(F"{first_name} {last_name}")
    
print_full_name("Kevin", "Beier")         #arguement

##### Default Parameters

In [ ]:
def print_agent_name(first, last="Bond"):    
    print(f"your agent name is {last}, {first} {last}")

print_agent_name("Kevin")     #if the name is alreay filled in then the bottom
print_agent_name("Kevin", "Beier")

In [ ]:
print_agent_name(last="Beier", first ="Kevin")

##### Making an Argument Optional

In [ ]:
def make_name(first, middle="", last="Ed"):      #"" option, value doesnt exist   
    print(f"Hello {first}{middle}{last}")       #keyword arguments need to be last
          
make_name("kevin")

In [ ]:
def what_datatype():
    return 5/5

what_datatype()



def what_datetype():
    return"jersey mikes"

print(what_datatype())
print("Thanks")    #printing debugging

In [ ]:
#return exits the function 
def return_stops():
    for i in range (10):
        print(i)
        if i == 3:
            return 4
return_stops()

In [ ]:
def dead_code():   #unreachable code
    print("Hello")
    return
    print("Goodbye")  #<<<this code is unreachable, hits return so the code stops 
    
dead_code()

##### Keyword Arguments

In [ ]:
def my_func (*args):
    for arg in args:
            print(arg)
            
my_func(2,4,5,6,7,8)

def my_func (*args):
    print(name)
    for arg in args:
            print(arg)
            
my_func("Kevin", 2,4,5,6,7,8)

In [ ]:
def my_func(name,**kwargs):
    for key in kwargs:
        print(key, kwargs[key])
my_func("Kevin", height=72, weight=120.4, foods=["pizza", "tacos", "dimsum", "suhsi"])

In [ ]:
my_dict={"key": "value", "name":"kevin"}

def my_fun(key,name):
    print(key,name)
    
my_fun(**my_dict)   #key="value" , name="kevin"

In [ ]:
def my_sum(*args):
    return sum(args)
my_sum(1,2,3)


def my_sum(*args):
    total=0
    for number in args:
        total+=number
        return total 
    
print(my_sum(1,2,3))

# Creating a start, stop, step function

In [ ]:
def my_range(stop, start=0, step=1):
    for i in range(start,stop,step):
        print(i)
my_range(10,4,2)     #numbers are what you want them to stop,start,step

##### Returning Values

In [ ]:
def add_nums(num1, num2):
    return num1+num2

print(add_nums(1,2))

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

##### Docstring

In [ ]:
def my_function(name,age):
    """

    """ #seperate words to go onto different lines
    return f"{name} is {age}"

##### Using a User Function in a Loop

In [ ]:
def add_two(n):
    print(n+2)
    
while True:
    ask =int(input("What is yor number? "))
    add_two(ask)
    response= input("ready to quit yet? ")
    if response.lower()=="quit":
        break

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [ ]:
first = ['John', 'Evan', 'Jordan', 'Max']
last = ['Smith', 'Smith', 'Williams', 'Bell']

def add_names(first_names, last_names):
    full_names=[]
    for i in range(len(first_names)):
        full_names.append(first_names[i]+ " "+last_names[i])
        return full_names
    
print(add_names(first,last))


def ad_names_comp(first_names, last_names):
    full_names=[first_names[i] for i in range(len(first_names))]
    return full_names
print(add_names_cpmp(first,last))


# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters

var1="A"     #gloabl scope can use everywhere

def my_function():
    print(var1)
    var2="B"    #functions scope aka local scop
    print(var2)
    
my_function()
print(var2)

In [ ]:
for i in range(3):
    print(i)
    x="steve"  #global scope
    
i

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [1]:
# Use the following list - [1,11,14,5,8,9]

def listNumber(this_list):
    new_list = []
    for value in range(len(this_list)):
        if this_list[value] < 10:
            new_list.append(this_list[value])
    print(new_list) 
    return

    
this_list = [1,11,14,5,8,9]
listNumber(this_list)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [2]:
def mergeSortList(a_list, b_list):
    merged_list = a_list + b_list
    print(sorted(merged_list))
    return

a_list = ['a','c','d','b']
b_list = ['g','q','l','s']

mergeSortList(a_list, b_list)

['a', 'b', 'c', 'd', 'g', 'l', 'q', 's']